@import 'tailwindcss';

/* * {
	transition: all 0.4s ease-in-out;
} */

:root {
	--background: #ffffff;
	--foreground: #0a0a0a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-editor: 'Space Mono', sans-serif;
	--font-sans: 'Host Grotesk', sans-serif;
	--animate-cursor: cursorBlink 0.8s infinite;
	/* --animate-sidebarOpen: sidebarOpen 0.2s ease-in; */
	--animate-sidebarOpen: sidebarOpen 0.4s ease-in-out;
	--animate-sidebarClose: sidebarClose 0.4s ease-in-out;
	@keyframes cursorBlink {
		0% {
			opacity: 1;
			transform: scaleY(1);
			transform-origin: center;
		}
		50% {
			opacity: 0;
			transform: scaleY(0.9);
			transform-origin: center;
		}
		100% {
			/* height: 10px; */
			opacity: 1;
			transform: scaleY(1);
			transform-origin: center;
		}
	}
	@keyframes sidebarOpen {
		0% {
			opacity: 0;
			width: 0%;
			/* transform: translateX(-1000px); */
			transform-origin: left;
		}
		100% {
			/* height: 10px; */
			opacity: 1;
			width: 25%;
			/* transform: translateX(0px); */
			transform-origin: left;
		}
	}
	@keyframes sidebarClose {
		0% {
			opacity: 1;
			width: 25%;
			/* transform: translateX(0px); */
			transform-origin: left;
		}
		100% {
			/* height: 10px; */
			opacity: 0;
			width: 0%;
			/* transform: translateX(-1000px); */
			transform-origin: left;
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Host Grotesk', sans-serif;
}

#sidebar * {
	transition: all 0.3s ease-in-out;
}

details {
	/* padding: 10px 0px 10px 0px; */
	transition: 200ms;
	/* border: 1px solid transparent; */
}

summary {
	transition: 200ms;
}

details:hover {
	/* background-color: rgba(255, 255, 255, 0); */
	cursor: pointer;
}

summary::marker {
	content: none;
}

@media (prefers-color-scheme: dark) {
	summary::before {
		/* content: url('/folder-closed.png'); */
		content: '';
		position: absolute;
		top: 0px;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 18px;
		height: 18px;
		background-image: url('/folder-closed.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.selectedText {
		background-color: rgba(255, 255, 255, 0.2);
		padding-bottom: 3px;
		border-radius: 4px;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	summary::before {
		/* content: url('/folder-closed.png'); */
		content: '';
		position: absolute;
		top: 0px;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 18px;
		height: 18px;
		background-image: url('/folder-closed.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.selectedText {
		background-color: rgba(0, 0, 0, 0.2);
		padding-bottom: 3px;
		border-radius: 4px;
		color: black;
	}
}

details[open] {
	/* content: '📂'; */
	/* top: 20px; */
	border-top: 1px solid rgba(255, 255, 255, 0.101);
	border-bottom: 1px solid rgba(255, 255, 255, 0.101);
	/* transition: 200ms; */
	/* content: url('/folder-open.png'); */
	/* transform: rotate(90deg); */
}

details[open] summary::before {
	/* content: '📂'; */
	top: 20px;
	/* border: 1px solid white; */
	/* transition: 200ms; */
	/* content: url('/folder-open.png'); */
	/* transform: rotate(90deg); */
}

#fileview::-webkit-scrollbar {
	display: none;
}

#fileview {
	scrollbar-width: none;
}

#editorstats * {
	transition: all 2s ease-in-out;
	scroll-behavior: smooth;
}

/* #wrapper {
	transition: all 0.8s ease-in-out;
} */

/* pre:has(#activeCursor) {
	background-color: rgba(255, 255, 255, 0.05);
} */
/* border-top: 0.5px solid rgba(255,255,255,0.08);
border-bottom: 0.5px solid rgba(255,255,255,0.08);
border-style: inset; */
