@import 'tailwindcss';

/* *{
	transition: all 0.2s ease-in;
} */

:root {
	--background: #ffffff;
	--foreground: #1b1b1b;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: 'Space Mono', sans-serif;
	--animate-cursor: cursorBlink 0.8s infinite;
	@keyframes cursorBlink {
		0% {
			opacity: 1;
			transform: scaleY(1);
			transform-origin: center;
		}
		50% {
			opacity: 0;
			transform: scaleY(0.8);
			transform-origin: center;
		}
		100% {
			/* height: 10px; */
			opacity: 1;
			transform: scaleY(1);
			transform-origin: center;
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1b1b1b;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Space Mono', sans-serif;
}

.selectedText {
	background-color: rgba(0, 128, 0, 0.269);
}

pre:has(#activeCursor) {
	background-color: rgba(255, 255, 255, 0.05);
	/* border-top: 0.5px solid rgba(255,255,255,0.08);
	border-bottom: 0.5px solid rgba(255,255,255,0.08);
	border-style: inset; */
}
